---
---
@import 'settings';
@import 'foundation';
@include foundation-everything;

.title-bar {
  background: $tpc-blue;
}
.banner {
  background: $tpc-yellow;
  padding: 0;
  .flag{
    padding-top: 1em;
  }
}

.menu {
  a {
    color: $tpc-yellow;
  }
  .active > a {
    background: $tpc-pink;
  }
  li {
    &:hover {
      background: $tpc-pink;
    }
    a:hover {
      color: $tpc-yellow;
    }
  }
}

.no-js {
  @include breakpoint(small only) {
    .top-bar {
      display: none;
    }
  }

  @include breakpoint(medium) {
    .title-bar {
      display: none;
    }
  }
}
a {
  color: $tpc-pink;
}

.slick-slider {
  img {
    width: 100%;
    max-height: 400px;
  }
}

.social-button {
  background: $tpc-blue;
  &:hover{
    background: $tpc-pink;
  }
}

.club {
      text-align: center;
  h3 {
    font-size: 1.5em;
  }
  img {

  }
  a:hover {
    color: $tpc-pink;
  }
}
