---
---
@import 'settings';
@import 'foundation';
@include foundation-everything;

main {
  @include grid-row;
  article {
    header, div:first {
      @include grid-column(12);
    }
  }
  padding : {
    left: 20px;
    right: 20px;
  }
}

.menu {
  .active > a {
    background: $tpc-pink;
  }
  li {
    &:hover {
      background: $tpc-pink;
    }
    a:hover {
      color: $tpc-yellow;
    }
  }
}
