---
title: Thames Punting Club
layout: default
slick: index
---
<div class="index-slider slick-slider">
  {% for image in site.static_files %}{% if image.path contains 'img/index-slider' %}<div><img src="{{ image.path }}" /></div>{% endif %}{% endfor %}
</div>


<div class="row column">
  <p>The enthusiastic punter knows no diviner rapture than that of hearing the water murmur, of seeing the wooded shores drift by, and the shining sheet of water wooing his or her advance... [Newspaper, 1891]</p>
</div>
