<footer class="site-footer">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="/js/foundation.min.js"></script>
  {% if page.slick %}
  <script type="text/javascript" src="/assets/slick/slick.min.js"></script>
  <script type="text/javascript" src="/js/slick-{{ page.slick }}.js"></script>
  {% endif %}
  {% if page.fancybox %}
    <link rel="stylesheet" href="/assets/fancybox/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
    <script type="text/javascript" src="/assets/fancybox/jquery.fancybox.pack.js?v=2.1.5"></script>
    <script type="text/javascript">
    $(document).ready(function() {
      $(".fancybox").fancybox();
    });
    </script>
  {% endif %}
  <script>
    $(document).foundation();
  </script>

</footer>
