<header>
  <div class="row banner">
    <img src="/img/tpc-logo.png" alt="Thames Punting Club" />
  </div>
  <nav class="top-bar">
    </div>
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        {% for menu-item in site.data.menu %}
          {% if menu-item.submenu %}
            <li class="has-submenu">
              <a href="{{ menu-item.url }}">{{ menu-item.title }}</a>
              <ul class="submenu menu vertical{% if menu-item.url == page.url %} active{% endif %}" data-submenu>
                {% for menu-item in menu-item.submenu %}
                  <li><a href="{{ menu-item.url }}">{{ menu-item.title }}</a></li>
                {% endfor %}
              </ul>
            </li>
          {% else %}
            <li {% if menu-item.url == page.url %} class="active"{% endif %}><a href="{{ menu-item.url }}">{{ menu-item.title }}</a></li>
          {% endif %}
          {% endfor %}
      </ul>
    </div>
    <div class="top-bar-right">
  </div>


  </nav>
</header>
