<header>
  <div class="row banner">
    <div class="column medium-9 flag">
      <a href="/"><img src="/img/tpc-logo.png" alt="Thames Punting Club" /></a>
    </div>
    <div class="column medium-3">
      <ul class="">
        <a class="button social-button" href="https://www.facebook.com/pages/Thames-Punting-Club/306282322727882?sk=timeline"><li class="fa fa-facebook fa-fw"></li></a>
        <a class="button social-button" href="https://twitter.com/tpc1885"><li class="fa fa-twitter fa-fw"></li></a>
      </ul>
    </div>
  </div>

  <nav>
    <div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="medium">

  <div data-toggle>
        <!-- <i class="fa fa-bars"></i> -->
        <button class="menu-icon" type="button" data-toggle></button>
    <div class="title-bar-title">Menu</div>
  </div>
</div>

    <div class="top-bar" id="main-menu">
      <div class="top-bar-left">
        <ul class="dropdown menu vertical medium-horizontal" data-responsive-menu="drilldown medium-dropdown">
          {% for menu-item in site.data.menu %}
            {% if menu-item.submenu %}
              <li class="has-submenu">
                <a href="{{ menu-item.url }}">{{ menu-item.title }}</a>
                <ul class="submenu menu vertical{% if menu-item.url == page.url %} active{% endif %}" data-submenu>
                  {% for menu-item in menu-item.submenu %}
                    <li><a href="{{ menu-item.url }}">{{ menu-item.title }}</a></li>
                  {% endfor %}
                </ul>
              </li>
            {% else %}
              <li {% if menu-item.url == page.url %} class="active"{% endif %}><a href="{{ menu-item.url }}">{{ menu-item.title }}</a></li>
            {% endif %}
            {% endfor %}
        </ul>
      </div>
    </div>
    <div class="top-bar-right">
  </div>


  </nav>
</header>
